<h2>Search Results<%- Lucy.answer('query') ? ': ' + Lucy.variable('answers.query') : '' %></h2>
<hr>
<%- Lucy.if('result.result_count == 0') %>
  No results found.
<%- Lucy.fi('result.result_count == 0') %>
<%- Lucy.for("image in result.images") %>
  <div class="row">
    <div class="col-xs-6">
      <h4><%- Lucy.variable("image.title") %></h4>
      <p><%- Lucy.variable("image.caption") %></p>
<% if (Lucy.answer('similarImages')) { -%>
      <a class="btn btn-primary"
         <%- Lucy.click('similar-images', {imageID: Lucy.variableJS('image.id')}) %>>
      Similar
      </a>
<% } -%>
    </div>
    <div class="col-xs-4 col-xs-offset-2">
      <img src="<%- Lucy.variable("image.display_sizes[0].uri") %>">
    </div>
  </div>
  <hr>
<%- Lucy.rof("image in result.images") %>
